.caseNotes {
  font-family: Avenir, Calibri, Minion;
}

.notesList li{
  padding: 10px;
  margin: 8px;
  list-style: none;
  background: #efefef;
  font-size: 18px;
}

.deleteNote{
  float: right;
}

.actionColumn {
  cursor: pointer;
}
